:host {
  background-size: auto !important;
  background-color: red !important;
  background-image: repeating-linear-gradient(
    -45deg,
    transparent,
    transparent 1em,
    rgba(0, 0, 0, 0.2) 1em,
    rgba(0, 0, 0, 0.2) 2em
  ) !important;
  opacity: 0.5 !important;
}
