:host(scramble-display) {
  width: 256px;
  height: 192px;
  contain: content;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;

  place-content: center;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  place-content: center;
}

.svg-wrapper {
  place-content: center;
  object-fit: fill;
  position: relative;
}

.svg-wrapper svg {
  position: absolute;
  width: 100%;
  height: 100%;
}

twisty-player {
  width: 100%;
  height: 100%;
}
